.Contact_container{
    /* display: flex; */
    height:auto;
    width: 1500px;
    background-image: url("../Asset/background.jpg");
    background-repeat: no-repeat;
    background-color: rgba(49, 47, 47, 0.555);
}
/* .contact_info{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
} */

