.Admin_home{
        height: 1000px;
        width: 100%;
        background-color: #979799;
    
}

#img1{
        height: 700px;
        width: 100%;
    }
    #img2{
        height: 700px;
        width: 100%;
    }
    #img3{
        height: 700px;
        width: 100%;
    }